/* sidebar main header */
.skin-blue .main-header .logo {
  background-color: #ffffff; 
  color: #170344;
  }

/* sidebar main header when hovering */
.skin-blue .main-header .logo:hover {
  background-color: #ffffff; 
  color: #170344;
}

/* active selected tab in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
background-color: transparent;
color: #f02094;
}

/* other links in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu a{
background-color: transparent;
color: #170344;
}

/* other links in the sidebarmenu when hovered */
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
  background-color: transparent;
  color: #f02094;
}

/* toggle button color  */
.skin-blue .main-header .navbar .sidebar-toggle{
background-color: transparent;
color: #170344;
}

/* toggle button when hovered  */
.skin-blue .main-header .navbar .sidebar-toggle:hover{
background-color: transparent;
color: #f02094;
}

/* border of active/hovered tab  */
.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li:hover > a {
  border-left-color: #f02094;
}

/* sidebar background  */
.sidebar{
  background: transparent;
  position: fixed;
}

/* main sidebar */
.skin-blue .main-sidebar {
  background-color: #ffffff;;
}

/* dashboard body */
.content-wrapper {
  background-color: #ffffff;
  background-image: url("graphics/holyrood_graphic_light.png"), linear-gradient( #76b9f5, #76b9f5, #c5e2fc, #fcf0ed);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  color: #ffffff;
}


/* Match colour of navigation bar to background and add bottom border*/
.navbar-static-top {
  position: relative;
  margin-bottom: 0px;
  background-color: #ffffff !important;
  border-bottom-width: 30px ;
  border-bottom-color: #76b9f5;
  color: #ffffff;
}



      
/* Home page font */  
#home {
  color: #170344;
  text-align: left;
}

/* data uplaod page font */  
#dataupload {
  color: #170344;
  text-align: left;
}

/* configure methods page font */  
#method {
  color: #170344;
  text-align: left;
}

/* configure methods page font */  
#psresults {
  color: #170344;
  text-align: left;
}

#results {
  color: #170344;
  text-align: left;
}


/* sidebar panel */  
.well { 
  background: #ffffff;
  color: #170344;
  border: 0px;
}

/* well panel */
#well_panel {
  background-color: #ffffff;
  color: #170344;
}


/* Uploaded/sample dataframe colours */
.dataTable {
    color: #170344;
    background: #ffffff;
}

/* Text blocks */
.text_blocks {
  color: #170344;
  text-align: justify;
  background: #ffffff; 
  padding: 15px; 
  border-radius: 5px;
}


/* hide analysis tabs */
#methods-tabs { 
  display: none; 
}

/* hide outline of navbar for balancing output */
#methods-balancing_output_plots { 
  border-color: transparent; 
}

/* change colour of buttons */
.progress_button {
  background-color: #ebfdc2;
  color: #170344;
  border-color: #7aad06;

}

/* change colour of buttons */
.default_button {
  background-color: #c5e2fc;
  color: #170344;
  border-color: #76b9f5;
}

/* Theme checkbox */
.checkbox {
  color: #170344;
}


      