/* sidebar main header */
.skin-blue .main-header .logo {
  background-color: #170344; 
  color: white;
  }

/* sidebar main header when hovering */
.skin-blue .main-header .logo:hover {
  background-color: #170344; 
  color: white;
}

/* active selected tab in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
background-color: transparent;
color: #f02094;
}

/* other links in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu a{
background-color: transparent;
color: white;
}

/* other links in the sidebarmenu when hovered */
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
  background-color: transparent;
  color: #f02094;
}

/* toggle button color  */
.skin-blue .main-header .navbar .sidebar-toggle{
background-color: transparent;
color:white;
}

/* toggle button when hovered  */
.skin-blue .main-header .navbar .sidebar-toggle:hover{
background-color: transparent;
color:#f02094;
}

/* border of active/hovered tab  */
.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li:hover > a {
  border-left-color: #f02094;
}

/* sidebar background  */
.sidebar{
  background: #170344;
}

/* main sidebar */
.skin-blue .main-sidebar {
  background-color: #170344;;
}

/* dashboard body */
.content-wrapper, .right-side {
  background-color: white;
  background-image: url("holyrood_graphics.png"), linear-gradient( #170344, #170344,#4f78dc, white);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  color: white;
}


/* Match colour of navigation bar to background and add bottom border*/
.navbar-static-top {
  position: relative;
  margin-bottom: 0px;
  background-color: #170344 !important;
  border-bottom-width: 30px ;
  border-bottom-color: #170344;
  color: white;
}

      
/* Home page font */  
#home {
  color: white;
  text-align: left;
}

/* data uplaod page font */  
#dataupload {
  color: #170344;
  text-align: left;
}

/* configure methods page font */  
#method {
  color: white;
  text-align: left;
}

/* configure methods page font */  
#psresults {
  color: #170344;
  text-align: left;
}

#results {
  color: #170344;
  text-align: left;
}


/* sidebar panel */  
form.well { 
background: white;
border: 0px;
}


/* Uploaded/sample dataframe colours */
table.dataTable {
    color: #170344;
    background: white);
}


/* hide analysis tabs */
#Tab_analysis { display: none; }

/* change colour of buttons */
.buttonagency .bttn-default{background-color: #170344;}


